version: "3.9"

services:
  db:
    image: postgres:15
    container_name: chatbot_db
    restart: always
    environment:
      POSTGRES_DB: chatbot_academic
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  pgadmin:
    image: dpage/pgadmin4
    container_name: chatbot_pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      - db

  web:
    build: .
    container_name: chatbot_web
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    environment:
      - DEBUG=True
      - SECRET_KEY=django-docker-secret
      - DATABASE_URL=postgres://postgres:postgres@db:5432/chatbot_academic
    depends_on:
      - db

volumes:
  postgres_data:
